
.row{

}

.LogoImg
{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    z-index: 10;
}
.col-xl-4 {
    height: 30px;
    padding-left: 0px;

}

@font-face {
font-family: 'Roboto', sans-serif;
src: url(/../../../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
font-family: 'Roboto Bold', sans-serif;
src: url(/../../../assets/fonts/Roboto-BlackItalic.ttf);
}

.menuButton {
	font-family: 'Roboto', sans-serif; 
	margin-top: 4px;
  height: 30px;
  width: auto;
	text-align: center;
  color: #000000;
  padding-left: 0px;
  

}
.container {
	background-color: #00aeef;
  padding-top: 30px;
  margin-top: -35px;
  position: fixed;
  text-align: center;
  width: 100%;
  padding-left: 30px;
  left: 0;
}

.menu {

}

.logo {
	align-content: center;
	text-align: center;
	margin-top: 4px;
	font-family: 'Roboto Bold', sans-serif;
	color: #FFF;
    letter-spacing: 0.15em;
}

.logocircle {
  
	text-align: center;
	height: 120px;
	width: 120px;
	margin: auto;
	margin-top: -18px;
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    z-index: 8;
    background-color: #00aeef;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color: #FFF;
  letter-spacing: 0.15em;
  } 
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color: #FFF;
  } 
a:hover   {
  /* Applies to links under the pointer */
  font-weight:      bold;
  color: #FFF;
  } 
a:active  {
  /* Applies to activated links */
  font-weight:      bold;
  color: #FFF;
  } 

