<div class="container">
  <div class="row">
      <div class="Menu col-xl-3 ">
            <div class="menuButton">
                Home
            </div>
            <div class="menuButton">
              Projects
            </div>
            <div class="menuButton">
              About us
            </div>
          </div>
          <div class=" Logo col-xl-3 ">
              <img class="LogoImg" src="../../../assets/Logo.svg" alt="">
             </div>
             <div class="Soical col-xl-3 ">
         <div class="menuButton">
           Fb
         </div>
         <div class="menuButton">
            Instagram
          </div>
          <div class="menuButton">
              twitter
          </div>
             </div>
    </div>
  </div>

 
