.LogoImg{
    height: 100px;
}
.menubuttom{
    float: left;
    width: 100px;
}
.Menu.col-xl-3 {
    margin-left: auto;
    height: 100px;
    background-color: green;
    margin-right: auto;}
.menu{
    height: 100px;
    background-color: green;
    padding-left:   100px;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    align-self: auto;
    
}
.soical{
    height: 100px;
}

