<div class="container">
    <div class="row">
        <div class="menu col-xl-4">
            <div class="row">
                <div class="col menuButton">
                    <a href="">Home</a>
                </div>
                <div class="col menuButton">
                    <a href="">Portfolio</a>
                </div>
                <div class="col menuButton">
                    <a href="">Pricing</a>
                </div>
            </div>  
        </div>

        <div class="col-xl-4 logo">
            Nash Solutions
            <div class="logocircle">
                <img class="LogoImg" src="../../../assets/Logonotext.svg" alt="">
            </div>
        </div>


          <div class="social col-xl-4">
              <div class="row">
                  <div class="col menuButton">
                        <a href="">Facebook</a>
                  </div>
                  <div class="col menuButton">
                        <a href="">Github</a>
                  </div>
                  <div class="col menuButton">
                        <a href="">Contact</a>
                  </div>
              </div>
          </div>
    </div>
</div>

 
