
<div class="container animated fadeIn">
    <div class="row">
        <div class="menu col-xl-4">
            <div class="row">
                <div class="col-4 menuButton">
                    <a href="" class="animated fadeIn">Home</a>
                </div>
                <div class="col-4 menuButton word">
                    <a href="" class="animated fadeIn">Mission</a>
                </div>
                <div class="col-4 menuButton">
                    <a href="" class="animated fadeIn">Join Us</a>
                </div>
            </div>  
        </div>

        <div class="col-xl-4 logo">
            <div class="logocircle">
                <img class="LogoImg animated fadeIn" src="../../../assets/Logonotext.svg" alt="">
            </div>
        </div>


          <div class="social col-xl-4">
              <div class="row">
                  <div class="col menuButton">
                        <a href="" class="animated fadeIn">Facebook</a>
                  </div>
                  <div class="col menuButton">
                        <a href="" class="animated fadeIn">Github</a>
                  </div>
                  <div class="col menuButton">
                        <a href="" class="animated fadeIn">Contact</a>
                  </div>
              </div>
          </div>
    </div>
</div>
