/* Coolors Exported Palette - coolors.co/bbbdc0-00aaaa-0099cc-a6ce39-0080ff */

/* HSL */
$color1: hsla(216%, 4%, 74%, 1);
$color2: hsla(180%, 100%, 33%, 1);
$color3: hsla(195%, 100%, 40%, 1);
$color4: hsla(76%, 60%, 52%, 1);
$color5: hsla(210%, 100%, 50%, 1);

/* RGB */
$color1: rgba(187, 189, 192, 1);
$color2: rgba(0, 170, 170, 1);
$color3: rgba(0, 153, 204, 1);
$color4: rgba(166, 206, 57, 1);
$color5: rgba(0, 128, 255, 1);